@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

.wrapper {
    z-index: 1;
    position: relative;
    top: 100px;
    margin-bottom: 15rem;
    width: 100%;
    overflow-x: hidden;
}

.herosectionwrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.background-image {
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-image: url('../../../public/assets/scale3.png');
    background-position: center right; /* Set the initial position to the right */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    z-index: 1;
}


.textoherosectionwrapper {
    flex: 2;
    height: 40%;
    /* Green color with 90% opacity */
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 3rem;
    justify-content: space-evenly;
    margin-left: 5rem;
    position: absolute;
}

.imagenherosection {
    flex: 1.5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.textoherosectionwrapper h2 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat';
    text-shadow: 10px 6px 34px rgba(0, 0, 0, 0.2)
}

.textoherosectionwrapper h1 {
    color: black;
    font-size: 30px;
    font-weight: 400; 
    text-align: center;
    font-family: 'Montserrat';
    text-shadow: 10px 6px 34px rgba(0, 0, 0, 0.8)
}

.textoherosectionwrapper p {
    color: black;
    font-size: 18px;
    font-weight: medium;
    text-align: center;
    font-family: 'Montserrat';
}

.appointment-button-herosection {
    position: relative;
    padding: 1rem;
    background-color: #F37D73;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1; /* Added z-index property */
}

.appointment-button-herosection:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: #abccb9;
    padding: 1rem;
    transform: scale(1.3);
    cursor: pointer;
}

.appointment-button-herosection::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 70px rgba(254, 249, 249, 0.5);
    animation: shinyAnimation 2.5s infinite;
}

@keyframes shinyAnimation {
    to {
        left: 100%;
    }
}